.row {
  margin: 2%;
}

#nameform {
  margin-left: 3%;
}

#namebutton {
  margin-left: 2%;
}

button{
  margin-left: 3%;
}

.form-control {
  margin: 5px;
}

.htmlpanel {
  display: none;
}

.pythonpanel {
  display: none;
}

.assemblypanel {
  display: none;
}
