body {
  background: url("../img/bodybackground.png");
	background-repeat: repeat;
	font-family: Arial;
}

.row {
  margin: 2%;
}

#nameform {
  margin-left: 3%;
}

#namebutton {
  margin-left: 2%;
}

.form-control {
  background: url("../img/selbg.png");
}

button{
  margin-left: 3%;
}

.form-control {
  margin: 5px;
}

.htmlpanel {
  display: none;
}

.pythonpanel {
  display: none;
}

.assemblypanel {
  display: none;
}

.processingpanel {
  display: none;
}

.csspanel {
  display: none;
}
